.message {
    position: relative;
    margin: 1em 0;
    padding: 5px 10px;
    border: {
        width: 1px;
        style: solid;
        //radius: $global-radius;
        color: darken(color(default,message), 10%);
    }
    font-weight: bold;
    color: #FFF;
    background-color: color(default,message);

    // Error
    &--error {
        border-color: darken(color(error,message), 10%);
        color: #FFF;
        background-color: color(error,message);
    }

    // Succes
    &--succes {
        border-color: darken(color(succes,message), 10%);
        color: #FFF;
        background-color: color(succes,message);
    }

    // Notice
    &--notice {
        border-color: darken(color(notice,message), 10%);
        color: #3d6611;
        background-color: color(notice,message);
    }
}